<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="fr.alma.sirius.connectedFamily.design.Activator"
               id="fr.alma.sirius.connectedFamily.design"
	       name="connectedFamily">
    </component>
  </extension>
</plugin>
